.sequencerSliderPanel {
    display: inline-block;
    background-color: gray;
    margin: 0px;
    vertical-align: top;
}

.sequencerSliderWrapper {
    height: 30px;
    margin: 10px;
}

.sequencerRowInactive {
    display: inline-block;
    background-color: gray;
    margin: 0px;
}

.sequencerRowActive {
    display: inline-block;
    background-color: lightgray;
    margin: 0px;
}

.sequencerButtonInactive {
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 10px;
}

.sequencerButtonActive {
    width: 30px;
    height: 30px;
    background-color: yellow;
    margin: 10px;
}