.interactiveChartArea {
    
}

.chartHeaderArea {
    
}

.dataSelectorArea {
    
}

.dataSelector {
    
}

.dataSelectorItem {
    
}

.chartHeadline {
    
}

.chartArea
{
    
}

.bar {
    width: 30px;
    height: 100px;
    background-color: red;
}

.barHighlighted {
    width: 30px;
    background-color: orange;
}

.barContainer {
    width: 50px;
    display: inline-block;
}